@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Montserrat';
}

body{
  margin: 0;
}

.container{
  width: 100%;
  height: 100vh;
  // background: url('./assets/image.png') center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  // &::before{
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background: rgba($color: #000000, $alpha: .7);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
  .video__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  
    video {
      width: 100%;
      height: 100%; 
      object-fit: cover;
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); 
      z-index: 1; 
    }
  
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    .logo{
      margin-bottom: 280px;
    }
    h1{
      font-size: 32px;
      color: white;
      font-weight: 500;
      margin: 0;
    }
    p{
      color: white;
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      margin-top: 32px;
    }
    button{
      padding: 9px 32px;
      border-radius: 50px;
      font-size: 14px;
      color: #FFD7D8;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      background: none;
      border: 1px solid#FFD7D8;
      margin-top: 64px;
      cursor: pointer;
    }

  }

  .more__content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;

    .logo{
      position: absolute;
      left: 64px;
      top: 64px;
    }

    .cards{
      position: absolute;
      bottom: 72px;
      display: flex;
      gap: 16px;
      .card__1{
        max-width: 802px;
        padding: 32px;
        border: 1px solid #FFD7D8;
        border-radius: 32px;
        color: white;
        background: rgba($color: #000000, $alpha: .5);
        backdrop-filter: blur(10px);
        h3{
          margin: 0;
          margin-bottom: 32px;
        }
        .categories{
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          span{
            padding: 9px 32px;
            border: 1px solid #FFD7D8;
            border-radius: 50px;
            font-size: 14px;
            color: #FFD7D8;
            display: flex;
            align-items: center;
            gap: 16px;
          }
        }
        p{
          margin: 0;
          margin-top: 32px;
        }
      }
      .card{
        max-width: 260px;
        height: 360px;
        border: 1px solid #FFD7D8;
        border-radius: 32px;
        padding: 32px;
        background: rgba($color: #000000, $alpha: .5);
        backdrop-filter: blur(10px);
        h1{
          color: white;
          margin: 0;
          margin-bottom: 32px;
        }
        span{
          padding: 9px 32px;
          border: 1px solid #FFD7D8;
          border-radius: 50px;
          color: #FFD7D8;
          font-size: 14px;
          img{
            margin-left: 20px;
          }
        }
        p{
          color: white;
          margin-top: 32px;
        }
      }
    }
  }
}